:root {
  --main-bg-color: #002b36;
  --main-darker: #00202b;
  --main-lighter: #003745;
  --main-lightest: #3698b7;
  --main-text: #b4cdd8;
  --main-transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--main-bg-color);
}

h1,
h2 {
  margin: 2rem;
  text-align: center;
  color: var(--main-text);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--main-lighter);
  padding: 1.5rem;
}

h2 span {
  color: var(--main-lightest);
}

/*expenses list*/
ul {
  list-style-type: none;
  margin-top: 1rem;
  text-align: center;
}
li {
  max-width: 1024px;
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
  background: var(--main-darker);
  transition: all 0.1s linear;
}
li:hover {
  transform: scale(1.01);
}
li div {
  color: var(--main-text);
  padding: 0.5rem;
  font-size: 1.1rem;
}

.edit-icon {
  margin: 0.5rem;
  transition: var(--main-transition);
}
.edit-icon:hover {
  cursor: pointer;
  color: var(--main-lightest);
}
.delete-icon {
  transition: var(--main-transition);
}
.delete-icon:hover {
  color: darkred;
  cursor: pointer;
}

.btn {
  color: var(--main-darker);
  background-color: var(--main-lightest);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px black;
  border-radius: 0.1rem;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  margin: 1rem auto 1rem auto;
  transition: var(--main-transition);
  font-family: Helvetica, sans-serif !important;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--main-darker);
  color: var(--main-text);
  transform: scale(1.05);
}

/*------------------    FORM -----------------------*/
.form-center {
  max-width: 1024px;
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-bg-color);
}
.form-group {
  color: var(--main-text);
  font-size: 1.2rem;
  margin: auto;
}
input[type="text"] {
  background-color: var(--main-darker);
  color: var(--main-text);
  margin: 0.2rem 1rem 0.2rem 1rem;
  padding: 0.5rem;
  border: none;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}

form .btn {
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .form-center {
    flex-direction: column;
    justify-content: start;
  }
  .form-group {
    margin: 0.5rem;
  }
}
